{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Reliability Links</h1>
    <p>
        Central location for dashboards, standards, vendors,
        SharePoint resources and engineering tools.
    </p>
</div>

<div class="card">



<h2>Analytics & Dashboards</h2>

<div class="link-grid">

    <a class="link-card"
       href="https://sandc4-my.sharepoint.com/:u:/r/personal/sania_sohail_sandc_com/Documents/Overdue%20WO%20Reports%20914.pbix?d=w5d83c9b17f5f49cfb203c47b2f7de6a6&csf=1&web=1&e=jYYb9Q"
       target="_blank">

    <span class="link-title">
         Overdue Work Orders - 914
    </span>

    <span class="link-description">
        Open the 914 overdue work order dashboard
    </span>

    </a>

    <a
        class="link-card"
        href = "https://sandc4-my.sharepoint.com/:u:/r/personal/sania_sohail_sandc_com/Documents/Overdue%20WO%20Report%20V3.pbix?d=w33ae7f7970ff4887b1134bb43299eecd&csf=1&web=1&e=4jIxhw"
        target="_blank">

        <span class="link-title">
            Overdue Work Orders - 912/917
        </span>

        <span class="link-description">
            Open the 912 overdue work order dashboard
        </span>

    </a>

    <a class ="link-card"
       href= "/pm-calendar">
         PM Calendar
       </span>

        <span class ="link-description">
            View upcoming Preventative Maintenance (PM) activities by asset
        </span>
    </a>

</div>
    <h2>Asset Lifecycle Management</h2>
    <div class="link-grid">

        <a
            class="link-card"
           href="Google.com"
           target="_blank">

            <span class="link-title">
                New Asset
            </span>

            <span class="link-description">
                Open the New Asset Form / Procedure
            </span>
        </a>
        <a
            class="link-card"
            href="https://chi-as15.sandc.ws/login"
            target Automation System (BAS)
            </span>

            <span class="link-title">
                    BAS
            </span>

            <span class="link-description">
                Access HVAC systems, utilities, alarms, trending, and facility monitoring.
                GUEST USERNAME AND PASSWORD COMING SOON
            </span>

        </a>



    </div>

    <h2>Documentation</h2>

    <ul>
        <li>
            /standards-and-documentation
                Standards & Documentation
            </a>
        </li>
    </ul>

    <h2>Engineering</h2>

    <div class="link-grid">

        <a
            class="link-card"
            href="https://mom.sandc.ws/"
            target MOM
            </span>

            <span class="link-title">
                    M.O.M.
            </span>

            <span class="link-description">
                Access to M.O.M.

            </span>

        </a>


    <h2>TBD</h2>



</div>

{% endblock %}